<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

    <Properties>
        <Property name="log-path">/usr/ec_main/logs/ec/log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy/MM/dd HH:mm:ss.SSS} %-5p [%t] %C#%M (%F:%L) %msg%n"/>
        </Console>

        <RollingFile name="ApplicationLogger"
                     fileName="${log-path}/application.log"
                     filePattern="${log-path}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>[%d{yyy/MM/dd HH:mm:ss.SSS}] [%-5p] [tid=%t] (%C{1}::%M():%L):%msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="ApplicationLogger" level="debug" additivity="false">
            <AppenderRef ref="ApplicationLogger"/>
        </Logger>
    </Loggers>

</Configuration>

